@import '../../../bower_components/bootstrap/dist/css/bootstrap.min.css'
// @import '../../../bower_components/stylus-nib'
// @import '../../../bower_components/este-library/este/css'

body
  color #111
  font-family 'PT Sans', sans-serif
  font-size 16px
  line-height 1.3
  padding 0 1em .3em

a[href]
  color #0044CC
  cursor pointer
  text-decoration none

  &:hover
    text-decoration underline

p
  max-width 34em
